#header{
width:auto;
padding:1%, 1%, 1%, 2%;
background-color: black;
box-shadow: 1px, 3px, 8px, 1px, lightgrey;
}
#header #title {
font-family:"Open Sans", "Segoe UI";
font-size:150%;
font-weight:lighter;
color:white;
text-decoration:none;
}
#header #menu #menu-item {
color:white;
font-family:"Century Gothic";
text-decoration:none;
font-size:100%;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}